<section class="container modelo--info">
	<div class="row">
		<div class="eight columns">
			<figure>
				<img class="max_width" src="../../img/modelos/concreto/.jpg" alt="">
				<figcaption><a class="no_line no_line__orange" href="">Agrandar (PDF)</a></figcaption>
			</figure>
			<%- include('partials/_nota-01') %>
		</div>
		<div class="four columns">
			<h5 class="modelo--info--heading">Modelo </h5>
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<h5 class="modelo--info--heading">Otras opciones:</h5>
			<ul>
				<li></li>
			</ul>
			<h5 class="modelo--info--heading">Incluye:</h5>
			<p></p>
		</div>
	</div>
	<div class="row">
		<div class="eight columns">
			<%- include('partials/_nota-03') %>
		</div>
		<figure class="four columns modelo--info--figure">
			<img class="max_width" src="../../img/modelos/concreto/.jpg" alt="">
			<figcaption><a class="no_line no_line__orange" href="">Agrandar (PDF)</a></figcaption>
		</figure>
	</div>
	</div>
	<hr>

<%- include('partials/_concreto/modelos') %>

</section>
