<section class="modelo--info">
	<div class="row">
		<div class="six columns">
			<figure>
				<img src="../../img/modelos/madera/" alt="Annette">
				<figcaption><a href="">Agrandar (PDF)</a></figcaption>
			</figure>
			<%- include('partials/_nota-01') %>
		</div>
		<div class="six columns">
			<h5></h5>
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<h5></h5>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<h5></h5>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="row">
		<div class="eight columns">
			<%- include('partials/_nota-02') %>
		</div>
		<figure>
			<img src="../../img/modelos/madera/" alt="Annette">
			<figcaption><a href="">Agrandar (PDF)</a></figcaption>
		</figure>
	</div>
	</div>
</section>
